*     
    margin: 0
    padding: 0
    box-sizing: border-box
    outline: none
    resize: none
    transition: .3s
    -webkit-touch-callout: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-tap-highlight-color: transparent

a
    text-decoration: none
    color: inherit
    font-family: inherit
    font-weight: inherit
    font-size: inherit

ul
    li
        list-style-position: inside
        list-style: none
    
div.default-ul ul li
    list-style: initial
    list-style-position: inside

html
    @include plus1025()
        -ms-overflow-style: none
        &::-webkit-scrollbar
            display: none

body
    color: $blackFont
    background-color: $fbwhite

header, footer, .login-menu-slider
    padding: 0 10px !important
    @include sizePlus(900px)    
        padding: 0 50px !important
    @include plus1441()        
        padding: 0 140px !important