*     
    margin: 0
    padding: 0
    box-sizing: border-box
    outline: none
    resize: none
    transition: .3s

a
    text-decoration: none
    color: inherit
    font-family: inherit
    font-weight: inherit
    font-size: inherit

ul
    li
        list-style-position: inside
    &:not(.default-ul) li
        list-style: none
    