@font-face
    font-family: lght
    src: url(../fonts/45-Light.ttf)
@font-face
    font-family: rmn
    src: url(../fonts/55-Roman.ttf)
@font-face
    font-family: bld
    src: url(../fonts/75-Bold.ttf)
@font-face
    font-family: boldoutline
    font-feature-settings: 'case' on
    src: url(../fonts/helvetica-75-bold-outline-587ebe00b76ba.ttf) format("TrueType")
@font-face
    font-family: lightcondensed
    src: url(../fonts/helvetica-47-light-condensed-587ebd7b5a6f6.ttf)
@font-face
    font-family: lightitalic
    src: url(../fonts/helvetica-46-light-italic-587ebdb0ea724.ttf)
@font-face
    font-family: thin
    src: url(../fonts/HelveticaNeue-Thin.otf) format("TrueType")
@font-face
    font-family: uppercasebold
    src: url(../fonts/MyriadGEOMtavruliMedium.ttf)
@font-face
    font-family: "medcondobl"
    src: url(../fonts/HelveticaNeue-MediumCondObl.otf) 

// PANTON MTAV FONTS