// product-main
.product-main
    position: relative
    width: 100%
    height: 106px
    margin-bottom: 46px
    @include plus1025()
        height: 450px
        margin-bottom: 50px

.product-main-background-container
    display: none
    grid-template-columns: 64fr 36fr
    height: 450px
    @include plus1025()
        display: grid
        grid-template-rows: 450px
.main-bg-image
    height: 100%
    padding-right: 20px
    display: flex
    justify-content: flex-end
    align-items: flex-end
    background-color: #34BDE7
    img
        height: 90%
        object-fit: contain
.other-bg-images-container
    height: 100%
    overflow: hidden
.other-bg-images
    display: flex
    height: 100%
    > div
        width: 400px
        height: 100%
        flex-shrink: 0
        display: flex
        justify-content: center
        align-items: flex-end
    img
        width: 100%
        height: 100%
        object-fit: contain


// product categories        
.product-main-categories-outter 

    width: 100%
    height: 100%
    background-color: #34BDE7
    // overflow: hidden     
    padding: 0 15px  
    @include plus1025()
        margin: 0 auto
        padding: 0
        overflow: hidden
        max-width: 90%
        position: absolute
        top: 0
        right: 0    
        background-color: unset
.product-main-categories
    height: 100%    
    color: #fff
    font-family: rmn
    font-size: 14px
    line-height: 20px
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    overflow: hidden
    p
        display: none
        max-width: 400px
        @include plus1025()
            display: unset
@import variables
.product-main-categories-ul
    display: flex
    grid-template-columns: repeat(auto-fill, 140px)
    font-family: bld
    font-size: 16px
    line-height: 16px
    height: 100%
    align-items: center 
    // margin: 0 15px   
    @include plus1025()
        // margin: 0
        display: grid
        height: unset
        grid-gap: 16px 20px 
        grid-template-columns: repeat(2, 140px)
        margin-bottom: 40px
    @include plus1441()
        grid-template-columns: repeat(3, 140px)

    li
        height: 46px
        width: 140px
        border-radius: 23px
        border: 1px solid #fff
        display: flex
        justify-content: center
        align-items: center
        background-color: transparent
        flex-shrink: 0
        &.active, &:hover, &[active]
            cursor: pointer
            background-color: $blackFont
            border-color: $blackFont
        a
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 100%




// product-section
.product-section
    padding: 0 15px
    padding-bottom: 50px
    @include plus1025()       
        margin: 0 auto
        width: 100%
        max-width: 90%
        padding-bottom: 130px
    @include plus1441()
        max-width: 1364px
    


.product-section-li-imgbox 
    > .imgbox-hover-menu
        display: none
        margin-bottom: 15px
        justify-content: center
        align-items: center
        @include plus1025()
            display: flex
            margin-bottom: 0
            flex-direction: column-reverse
        
            a
                white-space: nowrap
                color: #fff
                @include upperCase(true)
                font-size: 16px
                line-height: 18px
                overflow: visible
            svg
                min-width: 24px
                min-height: 24px
                margin: 0
                position: static
                transition-duration: .6s 
                transition-timing-function: ease-in-out          
            a
                display: grid
                grid-template-columns: repeat(3, auto)
                grid-template-rows: 100%
                align-content: center
                border-radius: 28px
                width: calc(100% - 30px)   
                transition-duration: .6s 
                transition-timing-function: ease-in-out
                padding: 0
                position: relative                 
                min-width: 56px
                min-height: 56px
                max-width: 56px
                max-height: 56px
                *                
                    transition-duration: .6s 
                    transition-timing-function: ease-in-out
                .add-animation-span-left
                    overflow: hidden
                    display: flex
                    align-items: center
                    height: 100%
                    white-space: nowrap
                    transform: translateX(-150%)
                    opacity: 0
                    transition-delay: .2s

                .add-animation-span-center
                    margin-left: 10px
                    margin-right: 10px
                    width: 56px
                    justify-self: center

                .add-animation-span-right
                    overflow: hidden
                    display: flex
                    opacity: 0
                    margin-left: -20px
                    transform: translateX(500%)
                    transition-duration: .7s
                    transition-delay: 0s
                &.product-added
                    max-width: 301px    
                    .add-animation-span-left
                        transform: translateX(0)
                        opacity: 1
                    .add-animation-span-center

                        
                    .add-animation-span-right
                        transform: translateX(0)
                        opacity: 1
                        transition-duration: .6s
                        transition-delay: .3s
                    
           

.product-section-ul
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 371px
    grid-gap: 30px 10px
    @include plus769()
        grid-template-columns: repeat(3, 1fr)        
    @include plus1025()
        grid-gap: 40px 16px
        grid-template-rows: 509px
    li > a
        height: 100%
        display: flex
    li
        display: flex
        flex-direction: column
        text-align: center
        justify-content: space-between
        color: $blackFont
        display: flex
        flex-direction: column
        text-align: center
        justify-content: space-between
        font-family: uppercasebold
        text-transform: uppercase
        > *
            color: inherit
        h1
            font-size: 16px
            line-height: 18px
            margin-bottom: 5px
            @include plus1025()
                margin-bottom: 13px
            a
                text-transform: uppercase

        p, p span
            // font-family: inherit
            font-size: 22px
            line-height: 26px
.product-section-li-imgbox
    width: 100%
    height: 220px
    border-radius: 12px
    position: relative
    margin-bottom: 16px
    @include plus1025()
        height: 430px
    &::after
        content: ''
        position: absolute
        top: 50%
        right: 50%
        transform: translate(50%, -50%)
        margin: 0
        border-radius: 12px
        background-color: $blackFont
        opacity: 0
        width: 0
        height: 0
        display: block
        transition: all .3s ease-in-out
    &:hover, &.active
        @include plus1025()
            &::after
                opacity: .5
                width: calc(100% - 20px)
                height: calc(100% - 20px)
    img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 12px
        background-color: #f1f0f5
    .imgbox-hover-menu
        position: absolute
        z-index: -1
        top: 0
        right: 0
        width: 100%
        height: 100%

    &:hover, &.active
        .imgbox-hover-menu
            @include plus1025()
                display: flex
                z-index: 2

.imgbox-hover-menu
    display: flex
    margin-bottom: 15px
    justify-content: center
    align-items: center
    @include plus1025()
        display: none
        margin-bottom: 0
    a
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        overflow: hidden
        width: 44px
        height: 44px
        @include plus1025()
            width: 56px
            height: 56px
.imgbox-hover-menu-heart
    background-color: #FEB42B
.imgbox-hover-menu-bag
    background-color: #EA433D

.product-section-li-price
    margin-bottom: 15px
    @include plus1025()
        margin-bottom: 0

.product-section-li-imgbox
    .imgbox-hover-menu-bag
        transform: translateY(150px) !important
        transition: all .5s
    &:hover, &.active
        .imgbox-hover-menu-bag
            transform: translateY(0px) !important
            transition: all .5s


.product-see-more
    @extend .profile-button
    height: 49px
    width: 100%
    border-radius: 25px
    font-family: uppercasebold
    text-transform: uppercase
    font-size: 14px
    line-height: 16px
    margin-top: 20px
    grid-column: 1 / -1
    @include plus769()    
    @include plus1025()
        width: 201px
        margin: 0 auto
        margin-top: 28px
        &:hover
            background-color: #A38CEB  
    &:active
        background-color: #A38CEB