@font-face {
  font-family: lght;
  src: url(../fonts/45-Light.ttf);
}

@font-face {
  font-family: rmn;
  src: url(../fonts/55-Roman.ttf);
}

@font-face {
  font-family: bld;
  src: url(../fonts/75-Bold.ttf);
}

@font-face {
  font-family: boldoutline;
  src: url(../fonts/helvetica-75-bold-outline-587ebe00b76ba.ttf);
}

@font-face {
  font-family: lightcondensed;
  src: url(../fonts/helvetica-47-light-condensed-587ebd7b5a6f6.ttf);
}

@font-face {
  font-family: lightitalic;
  src: url(../fonts/helvetica-46-light-italic-587ebdb0ea724.ttf);
}

@font-face {
  font-family: thin;
  src: url(../fonts/HelveticaNeue-Thin.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  resize: none;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

ul li {
  list-style-position: inside;
  list-style: none;
}

div.default-ul ul li {
  list-style: initial;
  list-style-position: inside;
}

@media screen and (min-width: 1025px) {
  html {
    -ms-overflow-style: none;
  }
  html::-webkit-scrollbar {
    display: none;
  }
}

body {
  color: #171717;
  background-color: #FBFBFF;
}

header, footer, .login-menu-slider {
  padding: 0 10px !important;
}

@media screen and (min-width: 900px) {
  header, footer, .login-menu-slider {
    padding: 0 50px !important;
  }
}

@media screen and (min-width: 1441px) {
  header, footer, .login-menu-slider {
    padding: 0 140px !important;
  }
}

header {
  font-family: lightcondensed !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 131px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: #fff;
}

@media screen and (min-width: 769px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    grid-gap: 32px;
  }
}

header nav {
  color: #171717;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 769px) {
  header nav {
    min-width: 460px;
  }
}

@media screen and (min-width: 850px) {
  header nav {
    min-width: 480px;
  }
}

@media screen and (min-width: 950px) {
  header nav {
    min-width: 500px;
  }
}

@media screen and (min-width: 1025px) {
  header nav {
    min-width: 600px;
  }
}

@media screen and (min-width: 1441px) {
  header nav {
    font-size: 16px;
    line-height: 18px;
    min-width: 773px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li:not(.header-nav-logo) {
  display: none;
}

@media screen and (min-width: 769px) {
  header nav ul li:not(.header-nav-logo) {
    display: initial;
  }
}

a.hashtag-ig {
  color: #EA433D;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (min-width: 769px) {
  a.hashtag-ig {
    font-size: 18px;
    line-height: 21px;
  }
}

.header-iconmenu-ul {
  display: none;
}

@media screen and (min-width: 769px) {
  .header-iconmenu-ul {
    justify-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-iconmenu-ul li:nth-child(2) {
  margin: 0 20px;
}

@media screen and (min-width: 1025px) {
  .header-iconmenu-ul li:nth-child(2) {
    margin: 0 40px;
  }
}

.header-nav-logo {
  margin-bottom: 9px;
}

@media screen and (min-width: 769px) {
  .header-nav-logo {
    margin-bottom: 0;
  }
}

footer {
  background: #171717;
  color: white;
  height: 333px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  footer {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: space-between;
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    grid-gap: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 900px) {
  footer {
    height: 189px;
  }
}

.all-rights-reserved {
  font-family: rmn;
  font-size: 16px;
  line-height: 19px;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .all-rights-reserved {
    padding: 0;
    justify-self: flex-start;
  }
}

.logo-author-combined {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 15px;
  padding-top: 37px;
  padding-bottom: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 769px) {
  .logo-author-combined {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    width: unset;
    padding: unset;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    border-bottom: unset;
  }
}

.logo-author-combined svg {
  margin-bottom: 12px;
}

.logo-author-combined p {
  font-family: lght;
  font-size: 14px;
  line-height: 17px;
}

.logo-author-combined a {
  font-family: bld;
  color: #EA433D;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  .footer-socials {
    justify-self: flex-end;
  }
}

.footer-socials a {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials a:first-child {
  margin-right: 15px;
}

.respo-menu {
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 110px;
  border-radius: 30px 30px 0 0;
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 0 42px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

@media screen and (min-width: 769px) {
  .respo-menu {
    display: none;
  }
}

.respo-menu .hr {
  display: block;
  width: 1px;
  height: 24px;
  background-color: #171717;
  border-radius: 5px;
  opacity: .1;
}

.respo-menu a {
  display: block;
  cursor: pointer;
}

.respo-menu a svg path {
  fill: rgba(23, 23, 23, 0.1);
}

.respo-menu a.active svg path {
  stroke: #C4B3FA;
  fill: transparent;
}

.burger-container {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: block;
  height: 12px;
  position: relative;
  width: 32px;
  cursor: pointer;
}

.burger span {
  width: 32px;
  height: 2px;
  background-color: #171717;
  display: block;
  position: absolute;
  border-radius: 15px;
}

.burger span:nth-child(2) {
  top: 6px;
}

.burger span:nth-child(3) {
  top: 12px;
}

.burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
}

.burger.active span:nth-child(2) {
  width: 0;
}

.burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 6px;
}

.home-main-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-auto-rows: 250px;
}

@media screen and (min-width: 769px) {
  .home-main-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: 450px;
  }
}

.home-main-section article {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr;
      grid-template-columns: 4fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.home-main-section article:nth-of-type {
  border-left: 5px solid black;
}

.home-main-section img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  overflow: visible;
  z-index: 1;
  left: -40px;
}

.article-right {
  height: 100%;
  width: 120%;
}

.article-right-imgdiv {
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: visible;
  width: 100%;
}

.article-left {
  position: relative;
  z-index: 2;
  padding-left: 7.25vw;
  font-family: rmn;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding-right: 10%;
}

.article-left h1 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  white-space: nowrap;
}

@media screen and (min-width: 769px) {
  .article-left h1 {
    font-size: 32px;
    line-height: 38px;
  }
}

.article-left > div {
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 40px;
}

@media screen and (min-width: 769px) {
  .article-left > div {
    font-size: 14px;
    line-height: 20px;
  }
}

.article-left a {
  font-family: bld;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.4px;
  border-radius: 25px;
  border: 1px solid #fff;
  padding: 12px 21px 12px 26px;
  display: inline;
  white-space: nowrap;
}

@media screen and (min-width: 769px) {
  .article-left a {
    font-size: 14px;
    line-height: 17px;
    padding: 15px 26px 15px 32px;
  }
}

.article-left a:hover {
  background-color: #fff;
}

.home-aboutus {
  position: relative;
  font-family: bld;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-auto-rows: minmax(262px, auto);
}

@media screen and (min-width: 769px) {
  .home-aboutus {
    margin-bottom: 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    grid-auto-rows: 450px;
  }
}

.home-aboutus img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.home-aboutus h2 {
  font-size: 22px;
  line-height: 27px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 15px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .home-aboutus h2 {
    position: static;
    margin-bottom: 50px;
  }
}

.home-aboutus-textbox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
}

@media screen and (min-width: 769px) {
  .home-aboutus-textbox {
    height: unset;
    padding: 0 7.25vw;
  }
}

.home-aboutus-textbox-inner, .aboutus-main > div:last-child {
  padding: 30px;
  background-color: #fff;
  width: calc( 100% - 30px);
  margin: 0 auto;
  margin-top: -46px;
}

@media screen and (min-width: 769px) {
  .home-aboutus-textbox-inner, .aboutus-main > div:last-child {
    background-color: none;
    margin: 0;
    padding: 0;
    width: unset;
    background-color: none;
  }
}

@media screen and (min-width: 1800px) {
  .home-aboutus-textbox-inner, .aboutus-main > div:last-child {
    max-width: 55%;
  }
}

.home-aboutus-textdiv {
  font-family: lght;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .home-aboutus-textdiv {
    margin-bottom: 30px;
  }
}

.home-aboutus-imgdiv {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 176px;
}

@media screen and (min-width: 769px) {
  .home-aboutus-imgdiv {
    height: 100%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.home-aboutus-textbox-a {
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
}

.home-aboutus-textbox-a::before {
  margin-right: 15px;
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: #EA433D;
}

.home-instaAndSlider {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 385px;
  position: relative;
}

@media screen and (min-width: 769px) {
  .home-instaAndSlider {
    height: 450px;
  }
}

.home-instaAndSlider .swiper-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  overflow: hidden;
  height: calc(100% - 86px);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 769px) {
  .home-instaAndSlider .swiper-container {
    position: absolute;
    left: 28%;
    height: 100%;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.home-instaAndSlider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.home-instaAndSlider .swiper-wrapper img {
  height: 100%;
  width: 72.5%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 769px) {
  .home-instaAndSlider .swiper-wrapper img {
    width: 22%;
  }
}

.home-insta-article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #FAFAFA;
  height: 86px;
  padding: 0 7.25vw;
  font-family: boldoutline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .home-insta-article {
    top: unset;
    width: 28%;
    height: 100%;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: none;
  }
}

.home-insta-article h2 {
  font-size: 22px;
  line-height: 27px;
}

@media screen and (min-width: 769px) {
  .home-insta-article h2 {
    margin-bottom: 50px;
  }
}

.home-insta-article-textdiv {
  max-height: 85px;
  font-family: lght;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  display: none;
  margin-bottom: 30px;
}

@media screen and (min-width: 769px) {
  .home-insta-article-textdiv {
    display: block;
  }
}

.home-insta-article-p {
  font-size: 14px;
  line-height: 17px;
  color: #EA433D;
}

.aboutus-main {
  width: 100%;
}

.aboutus-main img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 769px) {
  .aboutus-main img {
    height: 450px;
  }
}

.aboutus-main > div:last-child {
  margin-top: -60px;
  background-color: #FBFBFF;
  position: relative;
  border-radius: 30px 30px 0 0px;
}

@media screen and (min-width: 769px) {
  .aboutus-main > div:last-child {
    max-width: 1088px;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 30px;
    margin-top: -60px;
  }
}

@media screen and (min-width: 1025px) {
  .aboutus-main > div:last-child {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.aboutus-main-article-outter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  border-radius: 30px 30px 0 0px;
  background-color: #fff;
  padding-top: 10px;
}

@media screen and (min-width: 1025px) {
  .aboutus-main-article-outter {
    padding-top: 10px;
  }
}

.aboutus-main-article-outter h1 {
  font-family: bld;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
}

@media screen and (min-width: 769px) {
  .aboutus-main-article-outter h1 {
    margin-bottom: 40px;
  }
}

.aboutus-main-article-outter p {
  font-family: lght;
  font: 14px;
  line-height: 22px;
}

.aboutus-main-article {
  background-color: #FBFBFF;
  padding-top: 30px;
}

@media screen and (min-width: 769px) {
  .aboutus-main-article {
    width: 100%;
    height: 100%;
    padding-top: 57px;
    padding-right: 88px;
    padding-left: 88px;
    position: relative;
    z-index: 2;
  }
}

.rules-cover {
  width: 100%;
  height: 200px;
  background-color: #C4B3FA;
}

.contact-outter {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1025px) {
  .contact-outter {
    position: static;
  }
}

@media screen and (max-width: 364px) {
  .contact-outter h1 {
    font-size: 16px;
  }
}

.contact {
  width: 100%;
  font-style: none;
}

@media screen and (min-width: 769px) {
  .contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.contact-left {
  font-family: bld;
}

.contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-right-map {
  margin-top: 30px;
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 769px) {
  .contact-right-map {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: unset;
  }
}

.contact-right-map iframe {
  width: 100%;
  height: 100%;
}

.contact-left-heading {
  font-size: 14px;
  line-height: 17px;
  opacity: .3;
  margin-bottom: 7px;
}

.contact-left-heading:not(:first-child) {
  margin-top: 30px;
}

.contact-left-heading + * {
  font-family: rmn;
  font-size: 16px;
  line-height: 24px;
}

.contact-left-heading + span {
  display: block;
  max-width: 288px;
}

address {
  font-style: normal;
}

.contact-right-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 769px) {
  .contact-right-socials {
    position: static;
    margin-bottom: 30px;
  }
}

.contact-right-socials li:nth-child(2) {
  margin: 0 15px;
}

@media screen and (min-width: 769px) {
  .contact-right-socials li:nth-child(2) {
    margin: 0 30px;
  }
}

.contact-right-socials li a {
  height: 100%;
  display: inline-block;
}

.login-menu-slider {
  height: 80px;
  width: 100%;
  background-color: #171717;
  color: #fff;
  font-family: bld;
  font-size: 16px;
  line-height: 20px;
}

.login-menu-slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.login-menu-slider a {
  display: block;
  cursor: pointer;
}

.login-menu-slider li {
  opacity: .6;
}

.login-menu-slider li.login {
  opacity: 1;
}

.login-menu-slider ~ .form-combiner .login-form {
  max-height: unset;
}

.login-menu-slider ~ .form-combiner .register-form {
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: all .3s, padding-bottom 0s, padding-top 0s;
  transition: all .3s, padding-bottom 0s, padding-top 0s;
}

.login-menu-slider.register ~ .form-combiner .login-form {
  -webkit-transform: translateX(-500%);
          transform: translateX(-500%);
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.login-menu-slider.register ~ .form-combiner .register-form {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  max-height: unset;
  padding: 90px 0;
  -webkit-transition: all .3s, padding 0s;
  transition: all .3s, padding 0s;
}

.login-menu-slider.register li.login {
  opacity: .6;
}

.login-menu-slider.register li.registration {
  opacity: 1;
}

.form-combiner {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.login-main {
  min-height: calc( 100vh - 444px);
}

@media screen and (min-width: 769px) {
  .login-main {
    min-height: calc( 100vh - 349px);
  }
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form {
  overflow: hidden !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: bld;
  width: calc( 100% - 60px);
  max-width: 403px;
  padding: 90px 0;
  margin: 0 auto;
  max-height: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 769px) {
  .form {
    width: 100%;
  }
}

.form label, .form a, .form .login-button {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 9px;
}

.form label span {
  margin: 0 5px;
}

.input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 30px;
  border-radius: 28px;
  background-color: #fff;
  margin-bottom: 20px;
}

.input-div > * {
  height: 100%;
}

.input-div input, .input-div .span-dash {
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.input-div.input-div-two-inside {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: auto 1fr 1fr 50%;
      grid-template-columns: auto 1fr 1fr 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

.input-div.input-div-two-inside input {
  max-width: 95px;
}

.span-dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: unset !important;
      -ms-flex: unset !important;
          flex: unset !important;
  position: relative;
  margin: 0 20px;
  justify-self: flex-start;
}

input, .login-button {
  background-color: none;
  outline: none;
  border: none;
}

.input-div-logo {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.input-div-logo svg {
  width: 24px;
}

.login-button {
  height: 56px;
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.login-button.login-login, .login-button.login-reg {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #C4B3FA;
}

.login-button.login-fb {
  background-color: #178FF2;
}

.login-button.login-fb span {
  font-family: boldoutline;
  margin: 0 3px 0 5px;
}

.login-password-recovery {
  display: inline;
  margin: 0 auto !important;
  margin-bottom: 60px !important;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=style.css.map */