// colors
$blackFont: #171717
$lightred: #EA433D
$lightpurple: #C4B3FA
$lightpurpleless: #CCCCCC
$fbwhite: #FBFBFF
$fawhite: #FAFAFA

$width361: 361px
$width769: 769px
$width1025: 1025px
$width1441: 1441px

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
    -webkit-appearance: none !important
    margin: 0 !important


/* Firefox */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
    -moz-appearance: textfield !important


@mixin plus361()
    @media screen and (min-width: $width361)
        @content

@mixin plus769()
    @media screen and (min-width: $width769)
        @content

@mixin plus1025()
    @media screen and (min-width: $width1025)
        @content

@mixin plus1441()
    @media screen and (min-width: $width1441)
        @content

@mixin sizePlus($width)
    @media screen and (min-width: $width)
        @content

@mixin upperCase($bold)
    font-family: uppercasebold !important
    text-transform: uppercase !important
    font-weight: 500 !important
    @if $bold
        font-weight: 600 !important